body{
    background-color:#DAA520;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.pizza{
    /*box-model */
    border: 1px solid #C04000;
    padding: 1em;
    margin: 1em;
    /*margin-left: 0,5em; */
    margin-bottom: 0,5em;
    border-radius: 1em;

    inline-block

    /*width: 20em;
    display: inline-block;
    min-height: 30em */






.medium_pizza {
    background-color: #FF5800;
    flex:2
}

.large_pizza {
    background-color:#FFA000;
    flex:2
}

.small_pizza {
    background-color: #F4C430;
    flex:1
}

.contact_us{
    background-color: #BA160C;

}

@media(min-width:768px){
    /*body{
        background-color:grey;
}*/

}

@media(min-width:960px){
    /*body{
        background-color:grey;
}*/

}

.pizza{
    display:flex
 }
}
